# Database
POSTGRES_HOST=localhost # для локального postgres
# POSTGRES_HOST=postgres # имя сервиса postgres в docker compose
POSTGRES_PORT=5432
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpass
POSTGRES_DB=skillswap

# App
NODE_ENV=development
PORT=3000
HASH_SALT=10

# JWT
JWT_ACCESS_SECRET=24f92b5cab52dcb3a6202983a8dcc0cc51d1c10050081b8b87ebf9fdeee9b7dc # не копировать из примера для прода!
JWT_REFRESH_SECRET=c45384c565425dcdc2ae464588dd46684ead6259db1985e02d3d2734cd4ab955 # не копировать из примера для прода!
JWT_ACCESS_EXPIRES_IN=1h
JWT_REFRESH_EXPIRES_IN=7d
JWT_ACCESS_COOKIE_NAME=accessToken
JWT_REFRESH_COOKIE_NAME=refreshToken

# Seed
ADMIN_EMAIL=admin@skillswap.ru
ADMIN_PASSWORD=admin123
