# Database
POSTGRES_HOST=localhost # для локального postgres
# POSTGRES_HOST=<postgres> # имя сервиса postgres в docker compose, заменить на актуальное
POSTGRES_PORT=5432
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpass
POSTGRES_DB=skillswap

# App
NODE_ENV=development
PORT=3000